.env
marktechpost_raw.html
1_scrap.py
2_scrap.py
emailer
json
scheduler
scraper
subscribers
summarizer
templates
__pycache__
1_scrap.py
2_scrap.py
3_scrap.py
ai_news.json
check_groq.py
daily_runner.py
emailer_prime.py
email_module.py
filter_prime.py
marktechpost_raw.html
requiremets.txt
scraper_prime.py
summerizer_prime.py
test.py
test_key_check.py
test_scraper.py
test_scrape_and_summarize.py
test_send_newsletter.py